* {
    margin: 0;
}

#team {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 25px;
}

#pokemon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 15%;
}

.pokeblock {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 160px;
}

.pokeblock img {
    height: 150px;
    width: 150px;
}

.pokeblock .name {
    font-size: larger;
}

a {
    width: 100%;
    color: red;
    text-align: center;
}

.teamName,
.trainerName {
    color: darkorange;
    padding: 0 5px;
}